@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --main-background: #E5E5E5;
    --purple: #9C69E2;
    --purple-hover: #8344db;
    --pink: #F063B8;
    --white: #FFFFFF;
    --text-color: #212353;
    --main-color: #4B5D68;
    --gradient: #eff1f2;
}

body {
    background: var(--main-background);
    font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif, serif;
}
.header {
    width: 70%;
    display: flex;
    margin: auto;
}
.rect1 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 77px;
    background: var(--purple);
    border-radius: 20px;
}
.rect2 {
    position: relative;
    width: 20px;
    height: 35px;
    top: 62px;
    margin-left: 27px;
    background: var(--pink);
    border-radius: 20px;
}
.header-nav-menu {
    display: flex;
    margin-top: 66px;
    margin-left: 121px;
}
.header-nav-item {
    list-style-type: none;
    text-align: center;
    width: 53px;
    height: 30px;
    margin-right: 40px;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
}
.header-nav-link {
    text-decoration: none;
    color: var(--main-color);
}
.header-nav-link:hover {
    color: var(--text-color);
    transition: color .2s ease-in;
}
.section {
    margin-top: 143px;
}
.section-block {
    width: 70%;
    display: flex;
    margin: auto;
}
.section-header {
    width: 645px;
    height: 184px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: var(--text-color);
}
.section-text {
    width: 380px;
    height: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: var(--main-color);
}
.section-btn {
    width: 170px;
    height: 60px;
    margin-top: 50px;
    background: var(--purple);
    text-decoration: none;
    border-radius: 50px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.section-btn:hover {
    background: var(--purple-hover);
    transition: background .2s ease-in;
}
.section-img {
    width: 75%;
    margin-top: 200px;
    margin-left: -310px;
}
.section-description {
    width: 75%;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.section-second-img {
    width: 469px;
    height: 496px;
}
.section-second-header {
    margin-top: 125px;
    margin-right: 30px;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    align-items: center;
    color: var(--text-color);
}
.section-text-description {
    display: flex;
    margin-top: 40px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: var(--main-color);
}
.section-second-text-content {
    margin-left: 65px;
}
.section-features-block {
    width: 70%;
    margin: auto;
}
.section-features-header {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    align-items: center;
}
.section-features-text {
    width: 584px;
    margin-top: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    margin: auto;
    color: var(--main-color);
    margin-bottom: 100px;
}
.block {
    display: flex;
}
.container {
    display: flex;
    margin-left: 109px;
    width: 531px;
    height: 358px;
    background: url(../img/rect1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.container-2 {
    display: flex;
    margin-left: 109px;
    width: 531px;
    height: 358px;
    background: url(../img/rect2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.container-3 {
    display: flex;
    margin-left: 109px;
    width: 531px;
    height: 358px;
    background: url(../img/rect3.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.container-4 {
    display: flex;
    margin-left: 109px;
    width: 531px;
    height: 358px;
    background: url(../img/rect4.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.data-info-blocks {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.data-content {
    margin: auto;
}
.container-data-header {
    font-size: 24px;
    line-height: 130%;
    color: var(--text-color);
}
.container-data-text {
    width: 220px;
    height: 160px;
    font-size: 16px;
    line-height: 160%;
    color: var(--main-color);
}
.learn-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.next-img {
    width: 20px;
    height: 14px;
    margin-left: 20px;
}
.data-img {
    position: absolute;
    margin-top: 80px;
}
.next-btn {
    display: flex;
}
.container-data-btn {
    align-items: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: var(--text-color);
}
.section-testimonials {
    background: var(--purple);
    border-radius: 50px;
    width: 70vw;
    margin: auto;
    padding-bottom: 60px;
}
.section-testimonials-header {
    padding-top: 109px;
    padding-left: 93px;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: var(--white);
}
.testimonials-comments-block {
    display: flex;
}
.testimonials-text-content {
    display: flex;
    margin-top: 88px;
    margin-left: 93px;
    background: var(--white);
    box-shadow: 0px 20px 0px rgba(46, 32, 66, 0.3);
    border-radius: 20px;
    padding: 60px 0 0 70px;
    margin-bottom: 60px;
    border: 1px solid var(--purple);;
}
.testimonials-second-text-content {
    display: flex;
    margin-top: 88px;
    margin-left: 20px;
    width: 400px;
    height: 330px;
    background: var(--white);
    box-shadow: 0px 20px 0px rgba(46, 32, 66, 0.3);
    border-radius: 20px;
    padding: 60px 0 0 70px;
    margin-bottom: 60px;
    border: 1px solid var(--purple);;
}
.testimonials-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    object-fit: cover;
} 
.testimonials-text {
    margin-left: 30px;
}
.testimonials-username {
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 0.005em;
    color: var(--text-color);
}
.testimonials-mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 0.01em;
    color: var(--purple);;
}
.testimonials-comment {
    width: 385px;
    height: 130px;
    font-size: 18px;
    line-height: 180%;
    color: var(--main-color);
    margin-right: 70px;
}
.testimonials-second-comment {
    width: 180px;
    height: 130px;
    font-size: 18px;
    line-height: 180%;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, var(--main-color), var(--gradient));
    margin-right: 60px;
}
.slider-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slides {
    display: flex;
    align-items: center;
}
.slide-active {
    cursor: pointer;
    margin-left: 93px;
    width: 10px;
    height: 10px;
    background: var(--pink);
    border-radius: 5px;
    margin-right: 10px;
}
.slide-inactive {
    cursor: pointer;
    margin-right: 10px;
    width: 5px;
    height: 5px;
    background: var(--white);
    border-radius: 3px;
}
.arrow-btns {
    margin-right: 76px;
}
.btn-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}
.visibility-hidden {
    display: none;
    /* visibility: hidden; */
}
.btn-prev {
    /* margin-right: 20px; */
}
.footer-content {
    padding-top: 163px;
    padding-bottom: 65px;
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.footer-line {
    height: 2px;
    background: var(--purple);;
    opacity: 0.2;
    margin-top: 166px;
}
.footer-logo {
    display: flex;
    align-items: center;
}
.footer-rect {
    margin-top: 12px;
    width: 20px;
    height: 19.63px;
    background: var(--purple);;
    border-radius: 20px;
}
.footer-rect2 {
    width: 20px;
    height: 34.35px;
    margin-left: 9px;
    background: var(--pink);
    border-radius: 20px;
}
.footer-header {
    margin-left: 20px;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: var(--text-color);
}
.footer-address {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: var(--text-color);
    max-width: 240px;
}
.footer-mail {
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    max-width: 200px;
    color: var(--text-color);
}
.footer-mail a {
    color: var(--text-color);
    text-decoration: none;
}
.footer-copyright {
    font-size: 12px;
    line-height: 180%;
    align-items: center;
    letter-spacing: 0.01em;
    color: var(--text-color);
}
.footer-media {
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: var(--text-color);
}
.media-items {
    margin-top: 30px;
    display: flex;
}
.media-link {
    position: relative;
    margin-right: 14px;
    width: 50px;
    height: 50px;
    background: var(--text-color);
    opacity: 0.1;
    border-radius: 50px;
}
.media-link-logo {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.media-link:first-child:hover {
    opacity: 1;
    background: rgb(46, 86, 218);
    transition: background .2s ease-in;
}
.media-link:nth-child(2):hover {
    opacity: 1;
    background: rgb(37, 156, 224);
    transition: background .2s ease-in;
}
.media-link:last-child:hover {
    opacity: 1;
    background: rgb(189, 9, 150);
    transition: background .2s ease-in;
}


@media screen and (max-width: 1280px) {
    .section-img,
    .section-info-img,
    .testimonials-second-text-content,
    .feature-img {
        display: none;
    }
    .section-block,
    .block {
        width: auto;
        height: auto;
    }
    .section-block,
    .section-description {
        width: 75%;
    }
    .data-info-blocks {
        display: block;
    }
    .section-second-header {
        margin-top: 20px;
    }
    .testimonials-text-content {
        margin: 10px 0 30px 5px;
    }
    .block {
        margin-left: 0;
    }
    .container {
        width: 60%;
        margin: auto;
        background: rgba(104, 201, 186, 0.1);
        border-radius: 50px;
    }
    .container-2 {
        width: 60%;
        margin: auto;
        background: rgba(156, 105, 226, 0.1);
        border-radius: 50px;
        margin-top: 50px;
    }
    .container-3 {
        width: 60%;
        margin: auto;
        background: rgba(240, 99, 184, 0.1);
        border-radius: 50px;
    }
    .container-4 {
        width: 60%;
        margin: auto;
        background: rgba(45, 156, 219, 0.1);
        border-radius: 50px;
        margin-top: 50px;
    }
}
@media screen and (max-width: 1024px) {
    .learn-btn {
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    body {
        display: block;
    }
    .section-description,
    .section-testimonials {
        width: 100vw;
    }
    .section-img,
    .section-info-img,
    .testimonials-second-text-content,
    .feature-img,
    .testimonials-avatar {
        display: none;
    }
    .footer-content,
    .data-info-blocks {
        display: block;
    }
    .footer-media,
    .section-second-header {
        margin-top: 30px;
    }
    .section-content {
        margin-left: 30px;
    }
    .container-2,
    .container-4 {
        margin-top: 50px;
    }
    .section-text-description {
        margin-bottom: 20px;
    }
    .section-header,
    .section-features-text,
    .testimonials-comment,
    .section-text, .container, .container-2, .container-3, .container-4 {
        width: auto;
        height: auto;
    }
    .section-block,
    .block {
        margin-left: 0;
    }
    .testimonials-text-content {
        padding: 0;
        margin-left: 10px;
        width: 90%;
    }
    .header-nav-menu {
        margin-left: 10px;
    }
    .header-nav-item {
        margin-right: 12px;
    }
    .section-header {
        font-size: 50px;
    }
    .container {
        background: rgba(104, 201, 186, 0.1);
        border-radius: 50px;
    }
    .container-2 {
        background: rgba(156, 105, 226, 0.1);
        border-radius: 50px;
    }
    .container-3 {
        background: rgba(240, 99, 184, 0.1);
        border-radius: 50px;
    }
    .container-4 {
        background: rgba(45, 156, 219, 0.1);
        border-radius: 50px;
    }
    .section-testimonials-header {
        padding-left: 0;
        text-align: center;
        padding-top: 20px;
    }
    .footer-content {
        padding-top: 20px;
    }
    .footer-line {
        margin-top: 70px;
    }
}
@media screen and (max-width: 320px) {
    .header {
        margin-left: 25px;
    }
    .section-header {
        font-size: 40px;
        margin-top: 10px;
    }
    .arrow-btns {
        margin-right: 25px;
    }
}