body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, serif;
}
.header {
    width: 70%;
    display: flex;
    margin: auto;
}
.rect1 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 77px;
    background: #9C69E2;
    border-radius: 20px;
}
.rect2 {
    position: relative;
    width: 20px;
    height: 35px;
    top: 62px;
    margin-left: 27px;
    background: #F063B8;
    border-radius: 20px;
}
.header-nav-menu {
    display: flex;
    margin-top: 66px;
    margin-left: 121px;
}
.header-nav-item {
    list-style-type: none;
    text-align: center;
    width: 53px;
    height: 30px;
    margin-right: 40px;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
}
.header-nav-link {
    text-decoration: none;
    color: #4B5D68;
}
.header-nav-link:hover {
    color: #212353;
    transition: color .2s ease-in-out;
}
.section {
    margin-top: 143px;
}
.section-block {
    width: 70%;
    display: flex;
    margin: auto;
}
.section-header {
    width: 645px;
    height: 184px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
}
.section-text {
    width: 380px;
    height: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.section-btn {
    width: 170px;
    height: 60px;
    margin-top: 50px;
    background: #9C69E2;
    text-decoration: none;
    border-radius: 50px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.section-img {
    width: 75%;
    margin-top: 200px;
    margin-left: -310px;
}
.section-description {
    width: 1117px;
    height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.section-second-img {
    width: 469px;
    height: 496px;
}
.section-second-header {
    width: 475px;
    height: 100px;
    margin-top: 125px;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}
.section-text-description {
    display: flex;
    width: 474px;
    height: 170px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.section-second-text-content {
    margin-left: 65px;
}
.section-features-block {
    width: 70%;
    margin: auto;
}
.section-features-header {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    align-items: center;
}
.section-features-text {
    width: 584px;
    margin-top: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    margin: auto;
    color: #4B5D68;
    margin-bottom: 100px;
}
.block {
    display: flex;
}
.container {
    margin-left: 109px;
    width: 531px;
    height: 358px;
    background: url(img/rect1.png);
    background-repeat: no-repeat;
}
.data-section {
    display: flex;
}
.data-content {
    margin: auto;
}
.container-data-header {
    font-size: 24px;
    line-height: 130%;
    display: flex;
    color: #212353;
}
.container-data-text {
    width: 220px;
    height: 160px;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.data-img {
    position: absolute;
    margin-top: 80px;
}
.container-data-btn {
    align-items: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}