body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    font-family: Ubuntu, serif;
}
.rect1 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 240px;
    top: 77px;
    background: #9C69E2;
    border-radius: 20px;
}
.rect2 {
    position: absolute;
    width: 20px;
    height: 35px;
    left: 269px;
    top: 62px;
    background: #F063B8;
    border-radius: 20px;
}
.header-nav-menu {
    position: absolute;
    display: flex;
}
.header-nav-item {
    position: relative;
    list-style-type: none;
    text-align: center;
    width: 53px;
    height: 30px;
    left: 410px;
    top: 55px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}
.header-nav-item:first-child {
    margin-left: 0;
}
.header-nav-item {
    margin-left: 40px;
}
.section-title {
    position: absolute;
    width: 645px;
    height: 184px;
    left: 240px;
    top: 240px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
}
.section-text {
    position: absolute;
    margin-top: 40px;
    width: 380px;
    height: 120px;
    left: 240px;
    top: 474px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.section-btn {
    position: absolute;
    width: 170px;
    height: 60px;
    left: 240px;
    top: 644px;
    margin-top: 50px;
    background: #9C69E2;
    text-decoration: none;
    border-radius: 50px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.section-img {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 555px;
    top: 400px;
    background: url(img/image1.png);
}
.second-container {
    position: absolute;
    width: 1117px;
    height: 560px;
    left: 240px;
    top: 903px;
    margin-top: 99px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.second-section-title {
    position: absolute;
    width: 475px;
    height: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}
.second-section-text {
    position: absolute;
    width: 474px;
    height: 170px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.second-section-img {
    position: absolute;
    width: 469px;
    height: 496px;
    left: 256px;
    top: 935px;
    background: url(img/image2.png);
}